---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{% for category in site.categories %}
	  <h3>{{ category[0] }}</h3>
	  <ul>
	    {% for post in category[1] %}
	      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>
	{% endfor %}
</div>
