---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
	<li>
		<h1> {{ categories[category]}} </h1>
	</li>
    <li>
			<h2>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
			</h2>
      {{" ----- "}} {{ post.date | date_to_string }}
    </li>
  {% endfor %}
</div>
